body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: white;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #eaeaea;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* status styles */
.todo {
  color: red;
  font-weight: bold;
}

.done {
  color: green;
  font-weight: bold;
  text-decoration: line-through;
}

/* action links spacing */
td a {
  margin-right: 8px;
}

/*add button*/
.btn-add{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 7px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* layout */
.container {
  max-width: 500px;
  margin: 80px auto;
}

/* card */
.card {
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h2 {
  margin-bottom: 20px;
}

/* form */
label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* buttons */
.actions {
  display: flex;
  gap: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #e0e0e0;
  color: #333;
  padding: 10px 16px;       
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/*search function*/
.search-form input {
  width: 300px;
  padding: 8px;
}

.btn-submit{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.btn-reset {
  background-color: #e0e0e0;
  color: #333;
  padding: 8px 16px;       
  border-radius: 4px;
  font-size: 12px;
}

#flash-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}